[Unit]
Description=teletrack bot
After=network.target

[Service]
WorkingDirectory=/opt/teletrack/bin
Type=simple
ExecStart=/opt/teletrack/bin/teletrack

[Install]
WantedBy=multi-user.target
