[Unit]
Description={{ teletrack_description | default("teletrack bot") }}
After=network.target
Wants=network-online.target

[Service]
WorkingDirectory={{ bin_dir }}
Type=simple
ExecStart={{ bin_dir }}/teletrack
Restart=on-failure
RestartSec=30
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target